body {
    margin: 0; /* standar joylashuv */
    padding: 0; /* Sozlardagi aylanma razmerlari */
    box-sizing: border-box;
}
.Container {
    height: 970px; /*Balandligi */
    display: block; /*oziga kerak joyni toliq egalaydi sozlarni tog'ri joylaydi */
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}
.header {
    height: 25%; 
    background-color: #00B7EB;
}

.hero {
    height: 25%; 
    background-color: #FF0000;
}
.box1{
    height: 25%;
}
.sidebar {
    width: 50%;
    height: 100%;          /* Razmer kottaligi */
    background-color: #800080;
}

.content {
    float: left;
    height: 100%; 
    width: 50%;
    background-color: #00FF00;
}

.footer {
    height: 25%; 
    background-color: #444444;
}
@media screen and (max-width:600px){
    .box{
        height: 20%;
    }
    .box1{
        height: 40%;
    }
    .sidebar{
        width: 100%;
        height: 50%;
    }
    .content{
        width: 100%;
        height: 50%;
    }}